#siteorigin-custom-css {
  color: #333;
  margin: 0 0 0 -20px;
}
#siteorigin-custom-css h2 {
  background: #f8f8f8;
  padding: 20px;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.035);
}
#siteorigin-custom-css h2 .icon {
  width: 40px;
  height: auto;
  margin: -8px 10px -8px 0;
}
#siteorigin-custom-css .notice {
  margin: 0 20px 20px 20px;
}
#siteorigin-custom-css #poststuff {
  padding: 0 20px;
}
#siteorigin-custom-css #poststuff .postbox {
  border: 1px solid #D0D0D0;
}
#siteorigin-custom-css #poststuff .postbox h3.hndle {
  cursor: default;
  border-bottom: 1px solid #D0D0D0;
  background: #efefef;
  position: relative;
}
#siteorigin-custom-css #poststuff .postbox h3.hndle .hide {
  position: absolute;
  top: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  right: 12px;
}
#siteorigin-custom-css #poststuff #so-custom-css-getting-started .inside {
  padding: 0 6px 6px 6px;
}
#siteorigin-custom-css #poststuff #so-custom-css-getting-started .inside img {
  display: block;
  width: 100%;
  height: auto;
}
#so-custom-css-form {
  margin-right: 340px;
}
#so-custom-css-info {
  width: 315px;
  float: right;
}
#so-custom-css-info *:first-child {
  margin-top: 0;
}
#so-custom-css-info *:last-child {
  margin-bottom: 0;
}
#so-custom-css-revisions ol {
  list-style: none;
  margin: 0;
}
#so-custom-css-revisions ol li {
  margin: 0;
  line-height: 2.2em;
}
#so-custom-css-form .custom-css-preview iframe,
#so-custom-css-form .custom-css-preview #preview-navigator {
  display: none;
}
#so-custom-css-form .custom-css-toolbar {
  border: 1px solid #D0D0D0;
  border-bottom: none;
  background: #efefef;
  padding: 8px 10px;
  overflow: auto;
}
#so-custom-css-form .custom-css-toolbar .toolbar-function-buttons {
  float: left;
}
#so-custom-css-form .custom-css-toolbar .toolbar-function-buttons .toolbar-functions-dropdown {
  display: none;
}
#so-custom-css-form .custom-css-toolbar .toolbar-function-buttons ul.toolbar-buttons {
  margin: 0;
}
#so-custom-css-form .custom-css-toolbar .toolbar-function-buttons ul.toolbar-buttons li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#so-custom-css-form .custom-css-toolbar .toolbar-action-buttons {
  float: right;
}
#so-custom-css-form .custom-css-toolbar .toolbar-action-buttons a.active {
  border-color: #b4c4cf;
  background-color: #e9f9ff;
  color: #596872;
}
#so-custom-css-form .custom-css-toolbar .toolbar-action-buttons .editor-expand {
  float: right;
  text-decoration: none;
  color: #666;
}
#so-custom-css-form .custom-css-toolbar .toolbar-action-buttons .editor-expand .fa-compress {
  display: none;
}
#so-custom-css-form .custom-css-toolbar .fa {
  font-size: 14px;
}
#so-custom-css-form .custom-css-container {
  border: 1px solid #D0D0D0;
  background: #f7f7f7;
  cursor: text;
  overflow: hidden;
}
#so-custom-css-form .custom-css-container .CodeMirror {
  height: auto;
}
#so-custom-css-form .custom-css-container .CodeMirror-scroll {
  min-height: 300px;
}
#so-custom-css-form .custom-css-container .CodeMirror-lines {
  padding: 8px 0 8px 0;
}
#so-custom-css-form .custom-css-container textarea {
  border: 0;
  padding: 8px 0 8px 4px;
  width: 100%;
  min-height: 300px;
  display: block;
  font-family: monospace;
  font-size: 13px;
  line-height: 1.4em;
  border-left: 1px solid #ddd;
  margin-left: 16px;
}
#so-custom-css-form .decoration {
  display: none;
}
#so-custom-css-form.expanded {
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 340px;
}
#so-custom-css-form.expanded .custom-css-toolbar .editor-expand .fa-expand {
  display: none;
}
#so-custom-css-form.expanded .custom-css-toolbar .editor-expand .fa-compress {
  display: inline-block;
}
#so-custom-css-form.expanded .decoration {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 339px;
  width: 2px;
  background: rgba(0, 0, 0, 0.1);
}
#so-custom-css-form.expanded .description {
  display: none;
}
#so-custom-css-form.expanded .submit {
  display: none;
}
#so-custom-css-form.expanded .custom-css-preview {
  position: fixed;
  display: block;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 340px;
  background: #ffffff;
}
#so-custom-css-form.expanded .custom-css-preview #preview-navigator {
  display: block;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px 10px;
  position: absolute;
  width: 100%;
  height: 40px;
  top: -40px;
  background: #bbb;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bbb), color-stop(1, #eee));
  background: -ms-linear-gradient(bottom, #bbb, #eee);
  background: -moz-linear-gradient(center bottom, #bbb 0%, #eee 100%);
  background: -o-linear-gradient(#eee, #bbb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#bbb', GradientType=0);
  border-bottom: 1px solid #888;
}
#so-custom-css-form.expanded .custom-css-preview #preview-navigator input {
  width: 100%;
  border: 1px solid #888;
  border-radius: 2px;
  color: #444;
  -webkit-box-shadow: inset 2px 2px 2px rgba( 0,0,0,0.1 );
  -moz-box-shadow: inset 2px 2px 2px rgba( 0,0,0,0.1 );
  box-shadow: inset 2px 2px 2px rgba( 0,0,0,0.1 );
}
#so-custom-css-form.expanded .custom-css-preview #preview-iframe {
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
#so-custom-css-properties {
  display: none;
  position: fixed;
  top: 0;
  left: -338px;
  bottom: 0;
  width: 338px;
  background: #ffffff;
  border: 1px solid #D0D0D0;
  overflow-y: auto;
  z-index: 100000;
}
#so-custom-css-properties .toolbar {
  display: block;
  padding: 7px 10px;
  border-bottom: 1px solid #aaa;
  background: #F6F6F6;
  text-align: left;
}
#so-custom-css-properties .toolbar select {
  line-height: 1;
  font-size: 13px;
  max-width: 265px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#so-custom-css-properties .toolbar select.highlighted {
  background: #daeaf7;
}
#so-custom-css-properties .toolbar .close {
  float: right;
  margin: 2px 4px 0 0;
}
#so-custom-css-properties .section-tabs {
  list-style: none;
  height: auto;
  margin: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#so-custom-css-properties .section-tabs li {
  box-sizing: border-box;
  float: left;
  width: 33.333%;
  padding: 10px 7px;
  border: 1px solid #aaa;
  background: #F6F6F6;
  font-weight: bold;
  border-top: 0;
  border-left: 0;
  font-size: 13px;
  line-height: 1em;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  color: #666;
}
#so-custom-css-properties .section-tabs li:hover {
  background: #fff;
}
#so-custom-css-properties .section-tabs li .fa {
  float: left;
  display: block;
  margin: -1px 6px -1px 0;
  font-size: 15px;
  color: #666;
}
#so-custom-css-properties .section-tabs li:last-child {
  border-right: 0;
}
#so-custom-css-properties .section-tabs li.active {
  color: #444;
  background: #e8e8e8;
}
#so-custom-css-properties .section-tabs li.active .fa {
  color: #333;
}
#so-custom-css-properties .sections .section {
  display: none;
  padding: 10px;
}
#so-custom-css-properties .sections .fields-table {
  width: 100%;
  padding-top: 5px;
}
#so-custom-css-properties .sections .fields-table th,
#so-custom-css-properties .sections .fields-table td {
  position: relative;
  zoom: 1;
}
#so-custom-css-properties .sections .fields-table th:before,
#so-custom-css-properties .sections .fields-table td:before {
  content: '';
  display: block;
}
#so-custom-css-properties .sections .fields-table th:after,
#so-custom-css-properties .sections .fields-table td:after {
  content: '';
  display: table;
  clear: both;
}
#so-custom-css-properties .sections .fields-table th[scope="row"] {
  font-weight: bold;
  font-size: 12px;
  padding-right: 10px;
  text-align: left;
  width: 36%;
  vertical-align: top;
}
#so-custom-css-properties .sections .fields-table td {
  padding: 0 0 12px 0  ;
}
#so-custom-css-properties .sections .fields-table input,
#so-custom-css-properties .sections .fields-table select {
  display: block;
  margin: 0 25px 0 0;
  border: 1px solid #c0c0c0;
  width: 175px;
  box-sizing: border-box;
  border-radius: 0;
  font-size: 12px;
  padding: 5px 8px;
}
#so-custom-css-properties .sections .fields-table .minicolors input {
  box-sizing: border-box;
  height: 30px;
  padding: 5px 0 5px 30px;
}
#so-custom-css-properties .sections .fields-table .select {
  display: block;
  position: absolute;
  top: 0px;
  right: 1px;
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
}
#so-custom-css-properties .sections .fields-table .select-tabs {
  margin: 0;
  height: 40px;
}
#so-custom-css-properties .sections .fields-table .select-tabs .select-tab {
  cursor: pointer;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #c0c0c0;
  padding: 4px 2px;
  border-right-width: 0;
  background: #f7f7f7;
}
#so-custom-css-properties .sections .fields-table .select-tabs .select-tab .fa {
  line-height: 14px;
  font-size: 14px;
  color: #777;
}
#so-custom-css-properties .sections .fields-table .select-tabs .select-tab:last-child {
  border-right-width: 1px;
}
#so-custom-css-properties .sections .fields-table .select-tabs .select-tab:hover,
#so-custom-css-properties .sections .fields-table .select-tabs .select-tab.active {
  background: #e9e9e9;
}
#so-custom-css-properties .sections .fields-table .select-tabs .select-tab:hover .fa,
#so-custom-css-properties .sections .fields-table .select-tabs .select-tab.active .fa {
  color: #333;
}
#so-custom-css-properties .sections .fields-table .side-tabs {
  height: 26px;
}
#so-custom-css-properties .sections .fields-table .side-tabs .side-tab {
  width: 20%;
  text-align: center;
  padding: 5px;
  line-height: 0;
}
#so-custom-css-properties .sections .fields-table .side-tabs .side-tab div {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #aaa;
}
#so-custom-css-properties .sections .fields-table .side-tabs .side-tab .spacing-all {
  border-color: #12609b;
}
#so-custom-css-properties .sections .fields-table .side-tabs .side-tab .spacing-top {
  border-top-color: #12609b;
}
#so-custom-css-properties .sections .fields-table .side-tabs .side-tab .spacing-left {
  border-left-color: #12609b;
}
#so-custom-css-properties .sections .fields-table .side-tabs .side-tab .spacing-bottom {
  border-bottom-color: #12609b;
}
#so-custom-css-properties .sections .fields-table .side-tabs .side-tab .spacing-right {
  border-right-color: #12609b;
}
#so-custom-css-properties .sections .fields-table .sides .side > div {
  margin-bottom: 5px;
}
#so-custom-css-properties .sections .fields-table .sides .side > div:last-child {
  margin-bottom: 0;
}
.css-editor-snippet-browser {
  display: none;
}
.css-editor-snippet-browser .snippet-browser-overlay {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}
.css-editor-snippet-browser .snippet-browser-dialog > div {
  position: fixed;
  z-index: 100001;
  background: #fff;
  box-sizing: border-box;
}
.css-editor-snippet-browser .snippet-browser-dialog .toolbar {
  top: 40px;
  left: 40px;
  right: 40px;
  height: 50px;
  background: #FCFCFC;
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
}
.css-editor-snippet-browser .snippet-browser-dialog .toolbar h1 {
  padding: 0 16px;
  font-size: 22px;
  line-height: 50px;
  margin: 0;
  color: #444;
}
.css-editor-snippet-browser .snippet-browser-dialog .toolbar .close {
  cursor: pointer;
  color: #777;
  background-color: transparent;
  height: 50px;
  width: 50px;
  padding: 15px 0 0 0;
  position: absolute;
  text-align: center;
  border: 0;
  border-left: 1px solid #ddd;
  top: 0;
  right: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.css-editor-snippet-browser .snippet-browser-dialog .toolbar .close:hover {
  background: #dddddd;
}
.css-editor-snippet-browser .snippet-browser-dialog .toolbar .close .icon:before {
  content: '\f158';
  font: normal 20px/1 'dashicons';
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
}
.css-editor-snippet-browser .snippet-browser-dialog .sidebar {
  top: 90px;
  left: 40px;
  bottom: 90px;
  width: 300px;
  background: #f3f3f3;
  border-right: 1px solid #dddddd;
  padding: 16px;
  overflow: auto;
}
.css-editor-snippet-browser .snippet-browser-dialog .sidebar .snippet-search {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
}
.css-editor-snippet-browser .snippet-browser-dialog .sidebar .snippets {
  margin: 0;
}
.css-editor-snippet-browser .snippet-browser-dialog .sidebar .snippets .snippet {
  cursor: pointer;
  font-size: 1.1em;
  line-height: 1.35em;
  margin-bottom: 20px;
}
.css-editor-snippet-browser .snippet-browser-dialog .sidebar .snippets .snippet.active {
  font-weight: bold;
}
.css-editor-snippet-browser .snippet-browser-dialog .main {
  top: 90px;
  left: 340px;
  right: 40px;
  bottom: 90px;
  background: #fff;
  overflow: auto;
}
.css-editor-snippet-browser .snippet-browser-dialog .main .snippet-view {
  padding: 20px;
}
.css-editor-snippet-browser .snippet-browser-dialog .main .snippet-view .snippet-title {
  margin: 0 0 0.75em 0;
  padding: 0;
}
.css-editor-snippet-browser .snippet-browser-dialog .main .snippet-view .snippet-description {
  font-size: 1.1em;
  color: #666;
  margin-bottom: 2em;
}
.css-editor-snippet-browser .snippet-browser-dialog .main .snippet-view .snippet-code {
  padding: 20px;
  border: 1px solid #d0d0d0;
  background: #f8f8f8;
}
.css-editor-snippet-browser .snippet-browser-dialog .buttons {
  bottom: 40px;
  left: 40px;
  right: 40px;
  height: 50px;
  background: #FCFCFC;
  border-top: 1px solid #dddddd;
  text-align: right;
  padding: 10px 20px;
  overflow: hidden;
}
.socss-field-measurement {
  position: relative;
}
.socss-field-measurement input.socss-field-input {
  min-height: 1.5em;
  padding-right: 50px;
  width: 120px !important;
  box-sizing: border-box;
}
.socss-field-measurement .dashicons-arrow-down {
  position: absolute;
  top: 4px;
  left: 97px;
  cursor: pointer;
}
.socss-field-measurement .dropdown {
  display: none;
  background: #F5F5F5;
  border: 1px solid #c0c0c0;
  position: absolute;
  top: 27px;
  left: 71px;
  width: 50px;
  z-index: 2;
  margin: 0;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.socss-field-measurement .dropdown li {
  padding: 5px 0;
  text-align: center;
  line-height: 1.1em;
  font-size: 11px;
  margin: 0;
}
.socss-field-measurement .dropdown li:hover,
.socss-field-measurement .dropdown li.active {
  background: #e8e8e8;
  cursor: pointer;
}
.socss-field-measurement .units {
  position: absolute;
  top: 5px;
  left: 12px;
  color: #bbb;
  pointer-events: none;
}
.socss-diw {
  position: absolute;
  top: 0px;
  left: 124px;
}
.socss-diw .inc-button,
.socss-diw .dec-button {
  cursor: pointer;
  box-sizing: border-box;
  float: left;
  padding: 8px;
  user-select: none;
  text-align: center;
  margin: 0;
  width: 27px;
  height: 27px;
  font-size: 10px;
}
.socss-diw .inc-button {
  border-left: 0;
}
.socss-button {
  cursor: pointer;
  line-height: 1em;
  display: inline-block;
  border: 1px solid #c0c0c0;
  background: #f7f7f7;
  text-decoration: none;
  padding: 6px;
  font-weight: bold;
  color: #555;
  font-size: 0.95em;
  margin-left: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.socss-button:hover {
  border-color: #b0b0b0;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.socss-button:hover .fa {
  color: #333;
}
.socss-button .fa {
  color: #555;
}
.CodeMirror-lint-tooltip,
.CodeMirror-hints {
  /* This is above the editor in full-screen mode */
  z-index: 100002;
}
